body {
    background-image: url(../img/bg.png);
}

html, body {
    height: 100%;
    margin: 0;
}

th {
    background: #dcdcdc;
}

th, td {
    cursor: default;
}

input {
    margin-left: 2px;
    margin-right: 2px;
    padding: 3px;
}


select {
    padding: 3px;
}

#employeeList,
#employeeBase {
    min-width: 500px;

    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 10px;
}

#employeeList th,
#employeeList td,
#employeeBase th,
#employeeBase td {
    border: 1px solid;
    padding: 3px;
}

#content {
    width: 900px;
    min-height: 100%;
    margin-left: auto;
    margin-right: auto;
    background: #ffffff;
}

.selected {
    background-color: #add8ef;
}

#buttons {
    text-align: center;
    margin-top: 10px;
}

#employeeList th:nth-child(1), #employeeList td:nth-child(1),
#employeeList th:nth-child(4), #employeeList td:nth-child(4),
#employeeBase th:nth-child(1), #employeeBase td:nth-child(1),
#employeeBase th:nth-child(4), #employeeBase td:nth-child(4) {
    display: none;
}

#editElements {
    padding-left: 10px;
}