#content {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

#formMain {
    margin-top: 10px;
    margin-left: 10px;
}

#flightNumber {
    width: 30ch;
}

#startPoint, #destinationPoint {
    width: 30ch;
}

#plane {
    width: 20ch;
}

input {
    margin-left: 2px;
    margin-right: 2px;
    padding: 3px;
}

input[type="button"] {
    margin-top: 10px;
}