body {
    background-image: url(../img/bg.png);
}

html, body {
    height: 100%;
    margin: 0;
}

#content {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    background: #ffffff;
}

#content input {
    padding: 3px;
}

#fieldsetLogIn {
    width: 300px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

#buttonSubmit {
    margin-top: 10px;
    margin-right: 4px;
}

.hidden {
    display: none;
}

.message {
    color: #ff0000;
    font-style: oblique;
}

#fieldsetLogIn span {
    margin-left: 3px;
}
