#header {
    width: 100%;
    text-align: center;
    border-bottom: 2px solid;
}

#header tr td:nth-child(1),
#header tr td:nth-child(2),
#header tr td:nth-child(3) {
    width: 120px;
    border: 1px solid;
    padding: 3px;
}

#header tr td:nth-child(2) a,
#header tr td:nth-child(3) a {
    display: block;
}

#header tr td:nth-child(1) {
    font-weight: bold;
    border: 2px solid;
}

#header tr td:nth-child(5) {
    width: 100px;
}

#header tr td:nth-child(6) {
    width: 100px;
}

#div_signin {
    width: 50px;
    margin-right: 30px;
    margin-left: auto;
}

a {
    text-decoration: none;
}

#content {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

table {
    border-collapse: collapse;
}

#tableFlights {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

#tableFlights td,
#tableFlights th {
    padding: 3px;
    border: 1px solid;
}

th {
    background: #dcdcdc;
}